---
import { eq, experience, personal_info } from 'astro:db';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import { db, users } from 'astro:db';

const [user] = await db.select().from(users).where(eq(users.id, 1));
const [info] = await db.select().from(personal_info).where(eq(personal_info.user_id, 1));
const exp = await db.select().from(experience).where(eq(experience.user_id, 1));
---

<Layout>
  {user &&
      <p><span class="sr-only">name</span>{user.first_name} {user.last_name}</p>
      <p><span class="sr-only">email</span>{user.email}</p>
  }
  {
    info &&
      <p><span class="sr-only">title</span>{info.title}</p>
      <p><span class="sr-only">description</span>{info.description}</p>
  }
  {
    exp &&
      <p><span class="sr-only">title</span>{exp[0].title}</p>
      <p><span class="sr-only">description</span>{exp[0].description}</p>
      <p><span class="sr-only">title</span>{exp[1].title}</p>
      <p><span class="sr-only">description</span>{exp[1].description}</p>
  }
</Layout>
